/** index.tsx */
.totalTemplate {
  padding-left: 4rem;
}

.topSpanContainer {
  padding-left: 0.5rem;
  flex-direction: column;
  display: flex;
  position: relative;
}

.hello {
  color: #F37658;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: relative;
}

.randomComment {
  padding-top: 1.2rem;
  color: #000;
  font-family: Pretendard Variable;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: relative;
  display: flex;
}

.topContainer {
  width: 100%;
  height: 17.5rem;
  display: flex;
}

/** 그래프 관련*/
.weeklyStudyContainer {
  width: 50%;
  height: auto !important;
  padding: 1rem 0 0 0.5rem;
  position: relative;
  
  p {
    color: #000000;
    font-size: 1.4375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.innerTextContainer {
  width: 15rem;
  height: 1rem;
  color: #3F3F3F;
  font-size: 0.8125rem;
  font-weight: 700;
  justify-content: flex-end;
  flex-direction: row;
  align-items: flex-end;
  display: flex;
}

.graphContainer {
  width: 80%;
  height: 15.81rem;
}

.studyingProgressContainer {
  width: 31.25rem;
  height: 15.75rem;
  border-radius: 1rem;
  background: #E4F9E3;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.875rem;
    & article {
        position: relative;
        min-height: 18.75rem;
        & h2 {
            margin-bottom: 1.25rem;
        }
    }
    & article.ly_col_30 {
        width: calc(30% - 1.875rem);
        min-width: 18.75rem;
    }
    & article.ly_col_40 {
        width: 40%;
        min-width: 26.875rem;
    }
    & .contentBox {
        width: 100%;
        height: calc(100% - 3.4375rem);
        border: 1px solid #ccc;
        border-radius: 15px;
        padding: 0.9375rem;
        overflow: hidden;
        // box-sizing: border-box;
    }

    & .moreInfo {
        position: absolute;
        top: 0.3125rem;
        right: 0;
        display: flex;
        align-items: center;
        color: #aaa;
    }
}

.rankingList {
    & li {
        display: block;
        padding: 0.56rem 0.7rem;
        margin: 0.4rem 0;
        & p {
            font-weight: 500;
            & .rank {
                display: inline-block;
                width: 2.8125rem;
            }
            & .score {
                font-weight: 700;
                float: right;
            }
        }
    }
    & li:first-child {
        border: 2px solid #ffa703;
        border-radius: 1.25rem;
    }
    & li:nth-child(2) {
        background-color: #ffece8;
        border-radius: 1.25rem;
    }
}

.mbtiBox {
    background-color: #f2f5fa;

    & > p {
        & span {
            display: inline-block;
            background-color: #be89e5;
            padding: 6px 10px;
            font-weight: 700;
            border-radius: 20px;
        }
    }
}

.attendanceBox {
    background-color: #fff3d7;
    border: none !important;

    & ul {
        width: 100%;
        & li {
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    }
}

.badgeBox {
    position: relative;
    height: 8.125rem !important;
    & p {
        display: flex;
        color: #aaa;
        line-height: 6rem;
        & span {
            font-weight: 700;
            color: #5e3ec5;
            font-size: 2.25rem;
            padding: 0 0.625rem;
        }
    }
    & img {
        position: absolute;
        right: 20px;
        bottom: -20px;
    }

  }